/* html {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 15%;
  padding-left: 30%;
  padding-right: 30%;
}

.display-text{
    display: none;
} */


/* table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid peru;
}

th {
  text-align: center;
}

td,
th {
  padding: 5px;
} */
nav{
  position: fixed;
}

/* img{
  width: 60vh;
} */

/* .form{
  margin-left:10vw;
  margin-top: 1vh;
} */
.name-form{
  padding-bottom: 10px;
}
#name-error-span{
  color: #dd0000;
  display: none;
  margin-left:3vw;
}
.form>#btn{
  margin-left:4vw;
}